server:
    port: 8080
spring:
   jpa:
      database: POSTGRESQL
      hibernate:
         ddl-auto: NONE
      properties:
        hibernate.show-sql: false
        hibernate.format_sql: true
        hibernate.use_sql_comments: true
        hibernate.type.descriptor.sql.BasicBinder: INFO
        hibernate.default_schema: communitymgmt
   datasource:
      platform: postgres
#      url: jdbc:postgresql://localhost:5432/communitymgmt?currentSchema=communitymgmt
#      username: acollyte
#      password: femema
      url: jdbc:postgresql://ep-blue-cake-a2tn6acz-pooler.eu-central-1.aws.neon.tech:5432/neondb?currentSchema=communitymgmt&&sslmode=require&channelBinding=require
      username: neondb_owner
      password: npg_Hc8pmiuQU6RA
      driverClassName: org.postgresql.Driver
      hikari:
         maximum-pool-size: 10
         connection-timeout: 30000
         idle-timeout: 600000
   security:
      oauth2:
         resource-server:
            jwt:
                issuer-uri: https://accounts.google.com
logging:
  level:
    root: INFO
    org.hibernate.SQL: INFO

#    org.hibernate.type: TRACE  # Muestra los valores de los parámetros
#    org.hibernate.type.descriptor.sql: TRACE  # Muestra los valores de los parámetros

    org.hibernate.type.descriptor.sql.BasicBinder: TRACE  # Muestra los valores de los parámetros
    org.fmm.communitymgmt: DEBUG
    org.springframework.web: INFO
    org.springframework.security.oauth2: INFO
    org.springframework.security: INFO
    
#    org.springframework.boot.autoconfigure: DEBUG
#    org.springframework.jdbc.datasource: DEBUG
#    org.springframework.orm.jpa: DEBUG
#    com.zaxxer.hikari: DEBUG

#logging.level.org.springframework.security=DEBUG
#logging.level.org.springframework.security.oauth2=DEBUG

app:
  oauth2:
    # After successfully authenticating with the OAuth2 Provider,
    # we'll be generating an auth token for the user and sending the token to the
    # redirectUri mentioned by the frontend client in the /oauth2/authorize request.
    # We're not using cookies because they won't work well in mobile clients.
    authorizedRedirectUris:
      - http://localhost:4200/oauth2/redirect
      - http://localhost:4200/oauth2/redirect
      - http://localhost:4200/oauth2/redirect
      - myandroidapp://oauth2/redirect
      - myiosapp://oauth2/redirect

#https://accounts.google.com/.well-known/openid-configuration
#https://www.facebook.com/.well-known/openid-configuration/
#https://token.actions.githubusercontent.com/.well-known/openid-configuration


    